/* Stylesheet by Wyverncloak */
/* ------------------------------------------------------------ */ /* Font imports */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800);

/* ------------------------------------------------------------ */ /* Cover art database import */

@import "https://dl.dropbox.com/s/0jzovfrnnymoego/animecovers.css";

/* ------------------------------------------------------------ */ /* Cover art setup */

:hover + .hide {
    width: 12vw; height:17vw;
    bottom:30vw; right:8vw;
    
    background-size: cover;
    background-color: white;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    
    border-width: 1px;
    border-style: solid;
    border-color: black;

    display: block;
    position: fixed;
}

.hide:before {
    background: transparent;
}

/* ------------------------------------------------------------ */ /* Color scheme and setup */

#grand_totals, .category_totals, [class^=status_], [style^="float: right"] {
    display: none;
}

[href] {
    text-decoration: none;
    color: #555555;
}

[href]:hover, [id^="scor"]:hover {
    color: #CC4444;
}

tr:hover [class^="td"] {
    background-color: #FFCCCC;
}

#list_surround {
    position: relative;
    background-image: url('http://i.imgur.com/HYc3FFG.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 38% auto;
    background-attachment: fixed;

    font-family: "Roboto", "Arial";
    font-size: 13px;
    color: #555555;
}

#list_surround [cellpadding="0"] {
    position: relative;
    width: 55%;
    left: 5%;
}

[class^=header_]  {
    margin-right: 100%;
    margin-top: 10px;
    white-space: nowrap;
}

.header_title {
    font-family: "Alegreya Sans SC", "Arial";
    font-size: 32px;
    font-weight: 800;
}

.table_header {
    padding: 8px 9px 8px;
}

.td1 {
    background-color: #FFEEEE;
}

.td2 {
    background-color: #FAFAFA;
}

.td1, .td2 {
    padding: 5px 8px 5px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

td[align="left"] {
    text-align: center;
    font-size: 12px;
}

#copyright {
    font-size: 12px;
    font-weight: 250;
    padding-top: 25px;
    margin-bottom: 25px;
}

/* ------------------------------------------------------------ */ /* Custom MAL banner setup */

#mal_cs_listinfo,
#mal_cs_links,
#mal_cs_otherlinks,
#mal_cs_powered {
    box-sizing: border-box;
    background: none no-repeat scroll 100% 0 transparent;
    border: 0 none;
    height: 0 !important;
    overflow: hidden;
    padding: 32px 0 0 !important;
    position: fixed;
    right: 4px;
    text-align: right;
    top: 4px;
    z-index: 10;
    width: 210px !important;
}

#mal_cs_listinfo:hover,
#mal_cs_links:hover,
#mal_cs_otherlinks:hover,
#mal_cs_powered:hover {
    height: 500px !important;
    padding-top: 32px !important;
}

#mal_cs_listinfo div,
#mal_cs_links div,
#mal_cs_otherlinks div,
#mal_cs_powered div,
#mal_cs_powered dd {
    background-color: transparent;
    font-size: 0 !important;
    line-height: 0;
    margin: 0 !important;
    opacity: 0;
    padding: 4px 0 0 !important;
}

#mal_cs_listinfo:hover div,
#mal_cs_links:hover div,
#mal_cs_otherlinks:hover div,
#mal_cs_powered:hover div,
#mal_cs_powered:hover dd {
    opacity: 1;
}

#mal_cs_listinfo div:nth-of-type(2),
#mal_cs_links div:nth-of-type(2),
#mal_cs_otherlinks div:nth-of-type(2),
#mal_cs_powered div:nth-of-type(2) {
    padding: 4px 0 0 !important;
}

#mal_cs_listinfo a,
#mal_cs_links a,
#mal_cs_otherlinks a,
#mal_cs_powered a {
    background-color: #555555 !important;
    display: block;
    font: 18px/17px 'Arial', sans-serif !important;
    font-weight: bold;
    margin: 4px 0 0;
    padding: 8px 8px 8px !important;
    text-decoration: none !important;
}

#mal_cs_listinfo a:nth-of-type(1),
#mal_cs_links a:nth-of-type(1),
#mal_cs_otherlinks a:nth-of-type(1),
#mal_cs_powered a:nth-of-type(1) {
    margin-top: 0;
}

#mal_cs_listinfo a:hover,
#mal_cs_links a:hover,
#mal_cs_otherlinks a:hover {
    background-color: #444444 !important;
}

#mal_cs_listinfo strong a strong {
    font-weight: normal;
}

#mal_cs_otherlinks strong {
    color: #555555;
    display: block;
    font: bold 13px/17px 'Arial',sans-serif !important;
    padding: 0 4px 4px;
}

#mal_cs_otherlinks strong a {
    background: none transparent !important;
    color: #555555;
    display: inline;
    font: bold 13px/17px 'Arial',sans-serif !important;
    margin: 0;
    padding: 0;
}

#mal_cs_powered a {
    background-color: white !important;
    display: block !important;
    margin: 0 !important;
    opacity: 0;
    padding: 4px 0 0 !important;
}

#mal_cs_powered:hover a {
    opacity: 1;
}


#mal_cs_powered #search {
    padding: 8px 2px 0px 0px !important;
    position: relative;
}

#searchBox {
    box-sizing: border-box;
    border-color: #555555;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    padding: 0 8px 0 !important;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px !important;
    height: 32px;
    vertical-align: top;
    width: 210px !important;
}

#searchBox:hover,
#searchBox:focus {
    border-color: #444444;
}

#searchListButton {
    display: none !important;
}

#mal_cs_listinfo {
    background-image: url("http://i.imgur.com/LSwncOV.jpg");
    right: 106px !important;
}

#mal_cs_links {
    background-image: url("http://i.imgur.com/vl379rT.jpg");
    right: 72px !important;
    z-index: 9;
}

#mal_cs_otherlinks {
    background-image: url("http://i.imgur.com/Rz4IQCY.jpg");
    right: 38px !important;
    z-index: 8;
}

#mal_cs_powered {
    background-image: url("http://i.imgur.com/SzwsIrV.jpg");
    right: 4px !important;
    z-index: 7;
    position: fixed !important;
}

#mal\_control\_strip {
    background: transparent !important;
}

#mal_cs_pic img {
    display: none !important;
}

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
    border-right: 0 none !important;
}

/* header fix - completed, ptw, watching, etc */

  #list_surround>[align=center] {
  width: calc(55% + 5px);
  margin-right: 100%;
  }
  #list_surround>[align="center"]>*>* {
  display: flex;
  justify-content: space-between;
  }
  [class^="status_"] {
  flex: 0 1 100%;
  margin: 0 2px 0 0;
  display: block;
  }
  [class^="status_"] a {
  display: block !important;
  background: #FFEEEE;
  padding: 10px;
  }
  .status_selected a { background: #FCC }